*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}
.bola{
    height: 40px;
    width: 40px;
    display: flex;

}
p{
    margin-top: 35px;
    margin-bottom: 35px;
    width: 80%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 25px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 30px;
}
body{
    align-items: center;
    background-color: #FAFAFA;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.img{
    height: 400px;
    width: 50%;
    justify-content: center;
}
header{
    justify-content: center;
    text-align: center;
    background-color: rgb(7, 203, 85);
    color: white;
    height: 100px;
    border-bottom: 1.5px solid green;
}
.main h1{
    margin-top: 30px;
}
header a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.escudoB{
    height: 500px;
    width: 400px;
}
.escudoI{
    height: 350px;
    width: 400px;
}
.main a{
    text-decoration: none;
    color: blue;
}
.main img{
    margin-top: 70px;
    margin-bottom: 70px;
}
footer{
    background-color: rgb(7, 203, 85);
    height: 150px;
    margin-top: 100px;
}